* {
    margin: 0;
    padding: 0;
}

.container {
    border: 1px solid black;
    width: 15%;
    height: 280px;
    border-radius: 4px;
    background: url('./bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.form {
    height: 250px;
    padding: 10px;
}

input {
    background-color: rgb(248, 254, 255);
    padding: 15px;
    border: 1px solid black;
    border-radius: 4px;
    margin-top: 10px;
}

button {
    padding: 5px;
    margin: 25px;
    border-radius: 4px;
    border: 1px solid black;
    background: hsl(236, 100%, 91%);
}